http://greenit.aydo.com:8337 {
    bind 0.0.0.0
    gzip
    root www.greenit.com/en
    git {
       repo git@github.com:codescalers/www-greenit.git
       interval 300
       key ../keys/id_rsa
       path ../..
       then hugo -s www.greenit.com
    }
}
